@use "variables";

body{
    margin: 0;
    background-color: variables.$bg;
    color: var(--text);
    font-size: large;
    background: url('./assets/car1.jpg');

}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
button{
    font-size: 1.5em;
}
.cars{
    width: 100px;
    height: 100px;
}
ul{
    list-style-image: url('./assets/car4.png');
}